* {
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color:rgb(24,27,33);
    color:rgb(216,216,216);
    overflow-x: hidden;
}




h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    color:rgb(247, 142, 102);
}

h1{
    font-size: 300%;
}

h1, h2{
    font-family:'Montserrat Bold', Fallback, sans-serif;
    text-align: center;
}
h3, h4, h5{
    font-family:'Montserrat Medium', Fallback, sans-serif;
    text-align: center;
}
p{
    font-family: 'Montserrat Medium', Fallback, sans-serif;
    text-align: center;
}
img{
    max-width: 100%;
    max-height: 100%;
}
img.hide{
    max-width: 100%;
    max-height: 100%;
}
img.noPevents{
    pointer-events: none;
}


button {
    padding: 0.5em 1.2em;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: rgb(245, 245, 245);
    background-color: rgb(8, 5, 26);
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}
button:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}
button:active {
    transform: translateY(-1px);
}




a{
    text-decoration: none;
    color: rgb(59, 167, 124);
}
a:link{
    color: rgb(59, 167, 124);
}
a:hover{
    color: goldenrod;
}
a:active{
    color: goldenrod;
}




.leftBar {
    float: left;
    width: 20%;
}
  
.mainContent {
    padding: 25px;
    float: left;
    width: 60%; 
}
  
.rightBar {
    float: left;
    width: 20%; 
}




.shortcut{
    font-size: 92%;
    border-color: rgb(149, 225, 195);;
    border-style: none none none solid;
    text-align: left;
    padding-left: 4px;
    margin: 7px;

    text-decoration: none;
    transition: .5s;
}
.shortcut:hover{

    letter-spacing: 7px;
}
.mainText{
    text-align: left;
}
h3.mainText{
    margin-bottom: 0px;
}
p.mainText{
    padding: 0px 0px 0px 8px;
    margin-top: 0px;
}
.mainSubText{
    text-align: left;
    padding: 0px 0px 0px 8px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Montserrat Light', Fallback, sans-serif; 
    margin-bottom: 0px;
}
.divSections{
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.hideBig{
    padding: auto;
}

a.kool{
    transition: .5s;
}
a.kool:hover{
    letter-spacing: 10px;
}
.sections{
    transition: .5s;
}
.sections:hover{
    transition: .5s;
    letter-spacing: 5px;
    transform: scale(1.3);
    padding: 5% 5% 5% 5%;
}



/* the follwing two are not used by the way */
.header {
    display: flex;
  }
  
  .item {
    flex-basis: 100%;
    text-align: center;
    border: 1px solid black;
  }








                        /* COPY PASTE */

                        #menu__toggle {
                            opacity: 0;
                            position: fixed;
                            top: 30px;
                            left: 10px;
                            width: 20px;
                            height: 20px;
                            cursor: pointer;
                            z-index: -1;
                        }
                        #menu__toggle:checked + .menu__btn > span {
                            transform: rotate(45deg);
                        }
                        #menu__toggle:checked + .menu__btn > span::before {
                            top: 0;
                            transform: rotate(0deg);
                        }
                        #menu__toggle:checked + .menu__btn > span::after {
                            top: 0;
                            transform: rotate(90deg);
                        }
                        #menu__toggle:checked ~ .menu__box {
                            left: 0 !important;
                        }
                        .menu__btn {
                            position: fixed;
                            top: 30px;
                            left: 10px;
                            width: 20px;
                            height: 20px;
                            cursor: pointer;
                            z-index: 1;
                            display: none;
                        }
                        .menu__btn > span,
                        .menu__btn > span::before,
                        .menu__btn > span::after {
                            display: block;
                            position: absolute;
                            width: 100%;
                            height: 2px;
                            background-color: #616161;
                            transition-duration: .25s;
                        }
                        .menu__btn > span::before {
                            content: '';
                            top: -8px;
                        }
                        .menu__btn > span::after {
                            content: '';
                            top: 8px;
                        }
                        .menu__box {
                            display: block;
                            position: fixed;
                            top: 0;
                            left: -100%;
                            width: 300px;
                            height: 100%;
                            margin: 0;
                            padding: 80px 0;
                            list-style: none;
                            background-color: #1f5b60;
                            box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
                            transition-duration: .25s;
                        }
                        .menu__item {
                            display: block;
                            padding: 12px 24px;
                            color: #333;
                            font-family: 'Roboto', sans-serif;
                            font-size: 20px;
                            font-weight: 600;
                            text-decoration: none;
                            transition-duration: .25s;
                        }
                        .menu__item:hover {
                            background-color: #CFD8DC;
                        }
                        
                        /* COPY PASTED */



@media screen and (max-width: 768px) {
    .leftBar, .mainContent, .rightBar {
        width: 100%; 
    }
    .hide{
        display: none;
    }
    .menu__btn {
        display: flex;
    }
    .hideBig{
        padding: 20px 0px 0px 0px;
    }
    .fourOfour{
        width: 30%;
    }
    .mobileRight{
        width: 76%;
        margin-left: 12%;
        margin-right: 12%;
    }
    .smallerImgRight{
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
    }
}
@media screen and (min-width: 769px) {
    .fourOfour{
        width: 10%;
    }
}
@media screen and (min-width: 1000px) {
    .divSections{
        height: auto;
        display: flex;
        justify-content: center;
        align-content: center;
        width: 64%;
        margin-left: 22%;
        margin-right: 22%;
    }
}








@font-face {
    font-family:'Montserrat Bold';
    src: url("../fonts/Montserrat/Montserrat-Bold.ttf");
}
@font-face {
    font-family:'Montserrat Medium';
    src: url("../fonts/Montserrat/Montserrat-Medium.ttf");
}
@font-face {
    font-family:'Montserrat Regular';
    src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
}
@font-face {
    font-family:'Montserrat Light';
    src: url("../fonts/Montserrat/Montserrat-Light.ttf");
}
@font-face {
    font-family:'Montserrat Thin';
    src: url("../fonts/Montserrat/Montserrat-Thin.ttf");
}
@font-face {
    font-family:"Ptf Nordic";
    src: url("../fonts/Ptf-Nordic/ptf-nordic-rnd.ttf");
}
@font-face {
    font-family:"Bebas Neue";
    src: url("../fonts/BebasNeue/BebasNeue.otf");
}
@font-face {
    font-family:"Primer Print";
    src: url("../fonts/PrimerPrint/PrimerPrint.otf");
}
@font-face {
    font-family:"Primer Print Bold";
    src: url("../fonts/PrimerPrint/PrimerPrintBold.otf");
}
@font-face {
    font-family:"Wigners Friend";
    src: url("../fonts/WignersFriend/WignersFriend.ttf");
}
@font-face {
    font-family:"Arcade Font";
    src: url("../fonts/Press_Start_2P/PressStart2P-Regular.ttf");
}
@font-face {
    font-family:'Poppins';
    src: url("../fonts/Poppins/Poppins-Regular.ttf");
}
@font-face {
    font-family:'Poppins Bold';
    src: url("../fonts/Poppins/Poppins-Bold.ttf");
}
@font-face {
    font-family:'Poppins Light';
    src: url("../fonts/Poppins/Poppins-Light.ttf");
}
@font-face {
    font-family:'Poppins Italic';
    src: url("../fonts/Poppins/Poppins-Italic.ttf");
}
@font-face {
    font-family:'Poppins Thin';
    src: url("../fonts/Poppins/Poppins-Thin.ttf");
}
@font-face {
    font-family:'Poppins Black';
    src: url("../fonts/Poppins/Poppins-Black.ttf");
}

@font-face {
    font-family:'Minecraft Ten';
    src: url("../fonts/MinecraftFonts/MinecraftTen.ttf");
}
@font-face {
    font-family:'Minecraft Regular';
    src: url("../fonts/MinecraftFonts/MinecraftRegular.otf");
}
@font-face {
    font-family:'Minecraft Italic';
    src: url("../fonts/MinecraftFonts/MinecraftItalic.otf");
}
@font-face {
    font-family:'Minecraft Bold Italic';
    src: url("../fonts/MinecraftFonts/MinecraftBoldItalic.otf");
}
@font-face {
    font-family:'Minecraft Bold';
    src: url("../fonts/MinecraftFonts/MinecraftBold.otf");
}







/* Minecraft Style Menu */

  /* Minecraft Style Button */
  .mc-button {
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    user-select: none;
    background: #999 url("https://i.ibb.co/rb2TWXL/bgbtn.png") center/cover;
    image-rendering: pixelated;
    border: 2px solid #000;
    /* Mouse over */
    /* Button title */
    /* Others */
  }
  .mc-button:hover .title {
    background-color: rgba(100, 100, 255, 0.45);
    text-shadow: 2px 2px #202013CC;
    color: #FFFFA0;
  }
  .mc-button:active .title {
    box-shadow: inset -2px -4px #0004, inset 2px 2px #FFF5;
  }
  .mc-button .title {
    width: 100%;
    height: 100%;
    padding-bottom: 0.3em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #DDD;
    text-shadow: 2px 2px #000A;
    box-shadow: inset -2px -4px #0006, inset 2px 2px #FFF7;
    padding-left: 50px;
    padding-right: 50px;
  }
  .mc-button.full {
    width: 100%;
    height: 100%;
  }