html,body{height: 100%;}
body {background-color: #e9e3e3;}

.animate{
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.button{display: inline-block; background: #fff; color: black; padding: 15px 30px; border-radius: 10px; text-decoration: none;}
p{line-height: 22px;}

.header{background-color:#333333;}
.header__logo{ color: rgb(252, 147, 10); float: left; display: block; padding: 28px; font-size: x-large;font-weight: bolder; text-decoration: none; font-style: italic;}
.header__menu{float: right; margin: 0; padding: 0;}
.header__menu__item{display: inline-block;}
.header__menu__item a{color: #fff; display: inline-block; padding: 33px;}
.header__menu__item a:hover{background: #000;}


.header__iconbar {float: right; display: block; padding: 32px; display: none;}
.header__iconbar span{ display: block; height: 3px; width: 30px; margin-bottom: 5px; background: #fff;}

.cover{height: 70%; background-image: url("IMG_0127.JPG"); background-attachment: local; background-size: cover; position: relative; background-repeat: no-repeat; background-position-y: top; background-position-x: center ;}
.cover__caption__filter{background: #000; width: 100%;height: 100%;position: absolute;z-index: 0;opacity: 0.4;}
.cover__caption{ display: table; height: 100%; width: 100%; position: relative; z-index: 1; padding: 15px;}
.cover__caption__copy{ display: table-cell; vertical-align: middle; text-align: center; color: #fff;}

.cover--single{height: 50%;}

.cards{ max-width: 1200px; margin: 40px auto;}
.card{ width: 30%; margin: 0 1.5%; background: white; float: left;}
.card__image{width: 100%; height: auto;}
.card__copy{padding:5px 20px;}
.card__copy h3{margin-bottom: 0;}


.footer{background: #333333; color: #fff; padding: 20px; margin-top: 40px;}

.single__copy{ max-width: 800px; margin: 0px auto; margin-top: -40px; padding: 20px 40px; background: #fff; position: relative; z-index: 1;} 
.single__copy__meta{font-weight: bold; font-size: 16px; font-style: italic;}
.single h2{font-size: 28px; text-align: center;}

/*per pc*/
@media (max-width: 1689px){

}
/*per tablet*/
@media (max-width: 998px){


}
/*per cellulare*/
@media (max-width: 767px)
{
    .header{position: fixed; z-index: 100; width: 100%;}
    .header__iconbar{display: block;}
    .header__menu {width: 100%; height: 0px; overflow: hidden;}
    .header__menu__item{display: block;}
    .is-open{height: 415px; overflow:auto;}

    .cover{height: 100%;}
    .card{ width: 92%; margin: 3%;}
}


.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
  .clearfix { display: inline-block; }
  * html .clearfix { height: 1%; }
  .clearfix { display: block; }

  *,
  *:before,
  *:after{
      -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
              box-sizing: border-box;
  }